.MtextBox{
    width: 90%; /* Width of the box */
    height: 10%; /* Height of the box */
    background-color: #f0f0f0; /* Background color of the box */
    border: 2px solid #333; /* Border of the box */
    padding: 5px;
    position: absolute;
    left: 5%;
    top: 80%;
    cursor: pointer; /* Change cursor to pointer when hovering */
    display: inline-block; /* Display as inline-block to allow click */
}

.Choice1{
    border: 2px solid gray;
    border-radius: 5px;
    width: 30%;
    height: 5%;
    position: absolute;
    right: 5%;
    top: 70%;
    color: white;
    background-color: black;
}

.Mtext{
    padding-right: 2%;
    padding-left: 2%;
}

.Background{
    display: block;
    width: 100%;
    height: auto;
}
